* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------
----- Estilo vista mobile -----
       ------------------------- */

body {
    width: 100%;
    height: auto;
}

/* **HEADER** */
/**************/

header {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
}

.contenedor_header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

#boton {
    position: fixed;
    height: 35px;
    width: 50px;
    right: 10px;
    top: 10px;
    font-size: 0.95em;
    background-color: black;
    color: azure;
    border-radius: 5px 10px;
    z-index: 1000;
}

/* Seccion Foto */
.columna_100_25 {
    width: 100%;
    height: 50%;
}

.foto {
    width: auto;
    height: 100%;
    border: 1px solid red;
    border-radius: 50%;
    margin: auto;

}

/* Seccion Presentacion */
.columna_100_75 {
    width: 100%;
    height: 50%;
    padding: 0 5px;
}

.columna_100_75 h1 {
    font-size: 2.3em;
    height: 25%;
}

.columna_100_75 h2 {
    font-size: 1.5em;
    height: 30%;
}

.columna_100_75 p {
    font-size: 0.8em;
    height: 25%;
    width: 100%;
    padding: 10px 0 0;
}

.datos {
    height: 20%;
}

/* Iconos */
.iconos {
    display: none;
}

/* **MAIN** */
/************/

.subtitulo {
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    color: firebrick;
    font-size: 2.0em;
    padding: 10px;
    text-shadow: -1px 1px 8px black;
    width: 90%;
}

.arrows {
    display: none;
    position: relative;
    width: 10%;
}

main h2 {
    color: cornflowerblue;
    font-size: 1.6em;
    padding: 10px 20px 5px;
    height: auto;
}

main h3 {
    color: dodgerblue;
    font-size: 1.2em;
    padding: 0 20px 5px;
    height: auto;
}

main p {
    height: auto;
    font-size: 0.9em;
    padding: 0 20px 5px;
}

/*Seccion Habilidades*/
.contenedor_habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2% 5%
}

.contenedor_habilidades img {
    min-width 40px;
    max-width: 70px;
    height: auto;
}

/*Seccion Formacion*/
.hide {
    display: none;
}

/* **FOOTER** */
/**************/

footer {
    display: block;
    position: relative;
    height: auto;
    background-color: black;
    color: snow;
    text-shadow: -1px 1px 8px #ff000f;
    text-align: center;
    font-size: 0.9em;
}

.contenedor_footer {
    width: 100%;
    height: auto;
    padding: 10px;
}

.contenedor_footer a {
    text-decoration: underline;
    color: white;
    font-weight: 600;
}

/* -------------------------
----- Estilo vista PC -----
       ------------------------- */

@media only screen and (min-width: 600px) {

    /* **HEADER** */
    /**************/

    header {
        height: 300px;
    }

    .contenedor_header {
        display: flex;
        flex-wrap: wrap;
    }
    
    #boton:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: -1px 1px 3px white;
        background-color: rgba(255, 0, 0, 0.6);
    }

    /* Seccion Foto */
    .columna_100_25 {
        width: 25%;
        height: 100%;
        display: inline;
    }

    .foto {
        width: auto;
        height: 80%;
        margin: 10% 5%;
    }

    /* Seccion Presentacion */
    .columna_100_75 {
        width: 75%;
        height: 100%;
        display: inline;
        padding: 10px;
    }

    .columna_100_75 h1 {
        font-size: 3.0em;
        height: 25%;
        padding: 10px;
    }

    .columna_100_75 h2 {
        font-size: 2.0em;
        height: 26%;
        padding: 10px;
        resize: both;
    }

    .columna_100_75 p {
        font-size: 1.05em;
        height: 30%;
        padding: 20px 10px;
        resize: both;
    }

    .datos {
        display: none;
    }

    /* Iconos */
    .iconos {
        height: 20%;
        width: 60%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 0 20%;
    }

    .iconos img {
        width: 80%;
        height: auto;
    }
    
    .iconos img:hover{
        transform: scale(1.1);
        box-shadow: -1px 1px 3px white;
        border-radius: 25%;
    }
    
    .iconos img:active{
        transform: scale(0.95);
    }

    .tooltip {
        width: auto;
        height: auto;
    }

    .tooltiptext {
        position: absolute;
        visibility: hidden;
        font-size: 1.0em;
        z-index: 10;
        width: auto;
        height: auto;
        padding: 10px;
        text-align: center;
        background-color: gold;
        border-radius: 15px;
        color: black;
        text-shadow: -2px 2px 9px #ff000f;
    }

    .text1.{
        top: 100%;
        right: 24%;
    }
    
    .text2{
        top: 65%;
        right: 24%;
    }
    
    .text1::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 20%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent gold transparent;
    }
    
    .text2::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 80%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: gold transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /* **MAIN** */
    /************/

    .subtitulo {
        margin: 2%;
        border-radius: 5px;
        box-shadow: -2px 2px 3px black;
    }

    main h1 {
        font-size: 2.6em;
        padding: 20px 10px;
    }

    .arrows {
        display: block;
        color: firebrick;
        font-size: 2.0em;
        text-align: center;
        padding: 25px 0;
    }

    .arrows:active {
        transform: scale(0.9);
    }
    
    .arrows:hover {
        text-shadow: 0 0 4px red;
        transform: scale(1.05);
    }

    main h2 {
        font-size: 2.0em;
        padding: 20px 20px 10px;
    }

    main h3 {
        font-size: 1.40em;
        padding: 0 20px 10px;
    }

    main p {
        font-size: 1.1em;
    }

    /* Seccion Habilidades */
    .contenedor_habilidades {
        display: none;
        width: 70%;
        margin: 0 15%;
    }

    .contenedor_habilidades.show,
    .contenedor_experiencia.show,
    .contenedor_formacion.show {
        animation-name: aparecer;
        animation-duration: 1s;
        display: flex;
    }

    @keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .contenedor_habilidades img {
        padding: 20px;
        min-width 80px;
        max-width: 115px;
        height: auto;
        resize: both;
    }

    /* Seccion Experiencia */
    .contenedor_experiencia {
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center
    }

    .columna_100_33 {
        width: 33.3%;
    }

    /* Seccion Formacion */
    .contenedor_formacion {
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .columna_100_50 {
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
    }

    .info {
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        margin: 10px 0;
    }

    /* **FOOTER** */
    /**************/

    .contenedor_footer {
        padding: 20px;
        font-size: 1.2em;
    }
}
