* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
}

header {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
}

.contenedor_header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.columna_25_100 {
    width: 100%;
    height: 40%;
    padding: 5px 5px;
}

.columna_75_100 {
    width: 100%;
    height: 60%;
    padding: 5px 15px;
}

.foto {
    width: auto;
    height: 100%;
    border: 2px solid red;
    border-radius: 50%;
}
    
h1{
    font-family: ;
    font-size: 2.3em;
    height: 25%;
}

h2{
    font-family: ;
    font-size: 1.8em; 
    height: 15%;
}

p{
    font-family: ;
    font-size: 0.8em;
    height: 45%;
    width: 100%;
    padding: 10px 0 0;
}

.iconos{
    font-size: 1.8em;
    height: 15%;
}

.iconos a:link {
    
}

.iconos a:hover{
    
}

.iconos a:active{
    
}

.iconos a:visited{
    
}



@media only screen and (min-width: 480px) {

    header{
        height: 300px;
    }
    
    .contenedor_header{
        display: flex;
        flex-wrap: wrap;
    }
    
    .columna_25_100 {
        width: 25%;
        height: 100%;
        display: inline;
        padding: 10px 15px;
    }

    .foto {
        width: 70%;
        height: 100%;
        margin: 0 15%;
    }

    .columna_75_100 {
        width: 75%;
        height: 100%;
        display: inline;
        padding: 20px;
    }
    
    
    h1{
    font-size: 3.5em;
    height: 30%;
        padding: 10px;
}

h2{
    font-size: 2.2em; 
    height: 20%;
    padding: 5px;
}

p{
    font-family: ;
    font-size: 1.1em;
    height: 35%;
    width: 90%;
    padding: 10px 0;
    margin: 0 5%;
}

.iconos{
    font-size: 2em;
    height: 15%;
    padding: 2px;
    
}

.iconos a:link {
    
}

.iconos a:hover{
    
}

.iconos a:active{
    
}

.iconos a:visited{
    
}

    /* main*/
    main{
        height: auto;
        width: 100%;
    }
    
    /*footer*/
    
    footer{
        display: block;
        position: relative;
        height: 10%;
        background-color: black;
        color: snow;
        text-shadow: -2px 2px 9px #ff000f;
    }
    
    .contenedor_footer{
        display: flex;
        flex-wrap:wrap;
        text-align: center;
    }
    
    .contacto{
        display: flex;
        margin: 0 15%;
        width: 20%;
    }
    
    .contacto i{
        font-size: 2em;
        padding: 5px 0;
    }

}
